<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form-box">
        <form method="post" action="/posts/create">
            <label for="content">Skriv ett inlägg</label>
            <textarea name="content" placeholder="Skriv något kanske roligt" rows="5" required></textarea>
            <button class="write-post-button">
                Skapa inlägg
            </button>
        </form>
    </div>
</body>
</html>
