<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% if not user_logged_in %}
        <a href="/auth/login" class="login-button">
            Login
        </a>
        {% endif %}

        <h2>
            <a href="/">Microblog</a>
        </h2>

        {% if user_logged_in %}

            {% include "create_post.html" %}

        {% endif %}


        {% if by_user is defined %}
            <h1>Posts by {{by_user.username}}</h1>
        {% else %}
            <h1>All posts</h1>
        {% endif %}

        {% for post in posts %}
            <div class="post">
                <div class="meta">
                    <a href="/users/{{post.author.username}}">{{ post.author.username }}</a>
                    {{ post.created_at|format_datetime }}
                    {% if post.in_reply_to_post_id %}
                        <br><strong>Reply to post ID:</strong> {{ post.in_reply_to_post_id }}
                    {% endif %}
                    {% if post.in_reply_to_user_id %}
                        <br><strong>Reply to user ID:</strong> {{ post.in_reply_to_user_id }}
                    {% endif %}
                </div>
                <p>{{ post.content }}</p>

                {% if user_logged_in %}
                    <form method="post" action="like" id="like-form">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button type="submit" class="like-button">
                            ♡ {{post.likes | length}}
                        </button>
                    </form>
                {% endif %}

                {% if user_logged_in == post.author.id %}
                    <form method="post" action="delete" id="delete-form">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button type="submit" class="delete-button">
                            🗑 Delete
                        </button>

                    </form>
                {% endif %}


            </div>
        {% else %}
            <p>No posts available.</p>
        {% endfor %}

        {% if user_logged_in %}
        <br>
        <form action="/auth/logout" method="post" style="display:inline;">
            <button type="submit">
                &#x274C; Logout
            </button>
        </form>
        {% endif %}

        <a href="https://github.com/mrkickling/microblog">
            Source
        </a>
    </div>
</body>
</html>
